@tailwind base;
@tailwind components;
@tailwind utilities;
@theme  {
  --color-greentea: #1E3C3E;
  --color-abu: #E7E7E6;
  --color-putihBagus: #FAFAFA;
  --color-opacityHijau60:#789193;
  --color-greenTeaFont: #214B4E;

}

