@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
/* Custom theme colors as CSS variables */
:root {
  --color-greentea: #1E3C3E;
  --color-abu: #E7E7E6;
  --color-putihBagus: #FAFAFA;
  --color-opacityHijau60: #789193;
  --color-greenTeaFont: #214B4E;
}

